<!DOCTYPE html>
<html>
    <head>
        <title><%= title %></title>
        <link rel='stylesheet' href='/stylesheets/style.css' />
    </head>
    <body>
        <h1><%= title %></h1>
        <p>Trang chủ (khi đã đăng nhập)</p>
        <a href="/auth/logout">Log Out</a>
    </body>
</html>
