<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/auth/authentication" method="POST">
        <div class="form">
            <label for="emailExample">Email</label>
            <input type="email" name="email" id="email" placeholder="example@gmail.com" required>
        </div>
        <div class="form">
            <label for="emailExample">Password</label>
            <input type="password" name="password" id="password" placeholder="*************" required>
        </div>
        <input type="submit" value="Log In">
    </form>
    <a href="/auth/signup">Don't have an account ?</a>
</body>
</html>